.cover-container a {
    text-decoration: none;
    /* remove underline */
    color: inherit;
    /* remove blue */
}

.cover-container a:hover {
    text-decoration: underline;
}

.cover-container .social {
    margin: 5px;
}

/* footer */

/* header */
.user-header a:hover {
    border-bottom: solid white;
    font-weight: bold;
}

/* task container colors */
#Open {
    background-color: #007bff;
}

#Testing {
    background-color: #ffc107;
}

#Complete {
    background-color: #28a745;
}

/* Project container */
/* .project-container {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.card {
    margin-left: 2px;
    margin-right: 2px;
}

.edit-btn {
    margin-right: 2px;
}

/* Project Card */
.project-card {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

.delete .text-end form,
.delete .text-end a {
    display: inline-block;
}