.cover-container a {
    text-decoration: none;
    /* remove underline */
    color: inherit;
    /* remove blue */
}

.cover-container a:hover {
    text-decoration: underline;
}

.cover-container .social {
    margin: 5px;
}

/* footer */

/* header */
.user-header a:hover {
    border-bottom: solid white;
    font-weight: bold;
}

/* task container colors */
.open {
    background-color: #007bff;
}

.testing {
    background-color: #ffc107;
}

.complete {
    background-color: #28a745;
}

/* Project container */
/* .project-container {
    display: flex;
    align-items: center;
    justify-content: center;
} */

.card {
    margin-left: 2px;
    margin-right: 2px;
}

.edit-btn {
    margin-right: 2px;
}

/* Project container ends */

/* Create or edit project/task */

/* .new-task-form-container,
.edit-task-form-container,
.new-project-form-container,
.edit-project-form-container {
    background-color: coral;
} */