<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/img/favicon.ico" />
    <link rel="stylesheet" href="/static/css/app.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

    <!-- <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" /> -->
    <title>Dashboard</title>
</head>

<body class="bg-dark">

    <header class="p-3 text-bg-dark">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

                <ul class="user-header nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="{{ url_for('views.user_dashboard') }}" class="nav-link px-2 text-white">Home</a></li>
                    <li><a href="{{ url_for('views.user_details') }}" class="nav-link px-2 text-white">Account</a></li>
                </ul>

                <div class="text-end">
                    <a href="{{ url_for('auth.logout') }}" class="btn btn-warning">Logout</a>
                </div>

            </div>
        </div>
    </header>
    <hr class="text-white">

    <div class="filter-tasks text-center">
        <h4 class="text-white mt-2 mb-2">My Projects</h4>
        <div class="">
            <a href="{{ url_for('views.new_project') }}" class="btn btn-outline-warning">New Project</a>
        </div>
    </div>

    <div class="container">
        {% with messages = get_flashed_messages(category_filter=["success"]) %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show text-center mt-2 mb-2" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}


        {% with messages = get_flashed_messages(category_filter=["error"]) %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success alert-dismissible fade show text-center mt-2 mb-2" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

    <div class="container project-container">

        <div class="row parent d-flex justify-content-center align-items-center">

            {% for project in projects %}
            <div class="card mt-2 mb-2" style="width: 18rem;">
                <div class="card-body ms-4 me-4">
                    <h5 class="card-header text-center mb-2" id="{{ project.status }}">{{ project.status }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Title: {{ project.title }}</h6>
                    <p class="card-text">{{ project.content }}</p>
                    <p class="card-text">{{ project.created_on }}</p>
                    <div>
                        <a class="btn btn-dark d-inline-block btn-sm"
                            href="{{ url_for('views.view_project', project_id=project.id) }}">View</a>
                        <form method="get" action="{{url_for('views.edit_project')}}" class="d-inline-block">
                            <input type="hidden" name="project_id" value="{{project.id}}">
                            <button type="submit" class="btn btn-info btn-sm">Edit</button>
                        </form>
                        <form method="post" action="{{url_for('views.delete_project')}}" class="d-inline-block">
                            <input type="hidden" name="project_id" value="{{project.id}}">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>

</html>